.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}
.flexbox-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}
.flexbox-container>div{
  margin: 1rem;
}

.FoodList{
  text-align: center;
}